@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --titleHeight: 100px;
}

body {
  background-color: #9BA0BC;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Lobster;
}
.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
#title {
  display: block;
  width: 100%;
  text-align: center;
}
#editor, #preview {
  height: calc(100% - var(--titleHeight));
  margin: 10px 20px;
  padding: 0.5em 1em;
  border-top: 20px solid black;
}

#preview {
  background-color: lightblue;
  overflow-y: auto;
}

code, pre {
  background-color: white;
  font-weight: bold;
}
blockquote {
  color: gray;
  border-left: 2px gray solid;
  padding-left: 10px;
}
p img {
  display: block;
  width: 50%;
  height: auto;  
}